.home-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 64px);
}

.home-jim-logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #7188D4; 
}

.home-jim-desc {
    margin-top: 16px;
    text-align: center;
    max-width: 600px;
}

.home-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.home-button {
    margin-left: 8px;
    margin-right: 8px;
}