<mat-accordion *ngFor="let command of commands" class="commands">
    <mat-expansion-panel matTooltip="{{ command.tooltip }}">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ command.name }}
            </mat-panel-title>
            <mat-panel-description>
                {{ command.quick }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-tab-group>
            <mat-tab label="Usages">
                <mat-list>
                    <mat-list-item *ngFor="let usage of command.usages">
                        {{ usage }}
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Examples">
                <mat-list>
                    <mat-list-item *ngFor="let example of command.examples">
                        {{ example }}
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Description">
                <mat-list>
                    <mat-list-item>
                        {{ command.description }}
                    </mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-expansion-panel>
</mat-accordion>
